.page1-txt{
	font: ;
	color: white; 
	margin-top: 20px;
	width:60%;
	margin:auto;
	font-family: Montserrat;
}

.page1-txt h1{
	font-weight: bold;
}

@media screen and (max-width: 576px) {
  .page1-txt {
    margin: 50px;
    font-size: 100;
    background-color: red;
  }
}
